* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/*CUSTOM BACKGROUND COLORS*/


header, nav, .copyright {
	background-color: rgba(44,62,80,255);
}

.start_bootstrap, .about, .btn {
	background-color: rgba(26,188,156,255);
}

.info {
	background-color: rgba(58,84,109,255);
}

 /*
.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;..");
  }

  NON RIESCO A CAPIRE COME SI  CAMBIA IL COLORE DEL TOGGLER!
  */

.lines-white::before, .lines-white::after {
	content: '';
	width: 100px;
	height: 3px;
	background-color: white;
	color: white;
	display: inline-block;
	vertical-align: middle;
}

.lines-black::before, .lines-black::after {
	content: '';
	width: 100px;
	height: 3px;
	background-color: rgb(0, 0, 0);
	color: rgb(0, 0, 0);
	display: inline-block;
	vertical-align: middle;
}

/*start_bootstrap section*/

ul {
	list-style: none;
}

ul li {
	display: inline-block;
}

/*portfolio section*/

.portfolio-content img{
	border-radius: 25px;
}

/*about section*/

.download {
	border: 1px solid;
	border-radius: 5px;
	width: 125px;
}

/*contact_me section*/

input, textarea {
	outline: none;
	border-top: none;
	border-left: none;
	border-right: none;
	font-size: 25px;
	margin-bottom: 10px;
}

::placeholder {
	color: black;
	opacity: 1;
  }

  /*info section*/

  .icon_border {
	display: inline-block;
	border: 1px solid white;
	width: 30px;
	height: 30px;
	border-radius: 50%;
  }

  .icon_border i {
	vertical-align: middle;
  }

  a {
	color: rgba(26,188,156,255);
	text-decoration: none;
  }